@page
@model GameDevKz.Server.Areas.Admin.Models.LoginViewModel
@{
    <form asp-action="Login" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="ReturnUrl" />

        <input asp-for="Email" />
        <input asp-for="Password" type="password" />
        <input asp-for="RememberMe" type="checkbox" />

        <button type="submit">Войти</button>
    </form>
}
