@model GameDevKz.Server.Areas.Admin.Models.LoginViewModel

@{
    ViewData["Title"] = "Вход";
}

<h1>Вход</h1>

<form asp-action="Login" method="post">
    @Html.AntiForgeryToken()

    <div>
        <input asp-for="Email" class="form-control" />
    </div>

    <div>
        <input asp-for="Password" type="password" class="form-control" />
    </div>

    <div>
        <input asp-for="RememberMe" type="checkbox" />
    </div>

    <input type="hidden" asp-for="ReturnUrl" />

    <button type="submit">Войти</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
